<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Propriétés de connexion à la base de données -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:recettes.db</property>
        <property name="hibernate.dialect">org.hibernate.mydialect.SQLiteDialect</property>

        <!-- Paramètres Hibernate -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Déclaration des classes entités -->
        <mapping class="com.example.cdi.Model.Book"/>
    </session-factory>
</hibernate-configuration>